<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Student" >
    <id column="stuId" property="stuid" jdbcType="INTEGER" />
    <result column="stuName" property="stuname" jdbcType="VARCHAR" />
    <result column="stuPwd" property="stupwd" jdbcType="VARCHAR" />
    <result column="stuEmail" property="stuemail" jdbcType="VARCHAR" />
    <result column="stuCardId" property="stucardid" jdbcType="VARCHAR" />
    <result column="stuPhone" property="stuphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stuId, stuName, stuPwd, stuEmail, stuCardId, stuPhone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where stuId = #{stuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where stuId = #{stuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bdqn.domain.Student" >
    insert into t_student (stuId, stuName, stuPwd, 
      stuEmail, stuCardId, stuPhone
      )
    values (#{stuid,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stupwd,jdbcType=VARCHAR}, 
      #{stuemail,jdbcType=VARCHAR}, #{stucardid,jdbcType=VARCHAR}, #{stuphone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bdqn.domain.Student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuid != null" >
        stuId,
      </if>
      <if test="stuname != null" >
        stuName,
      </if>
      <if test="stupwd != null" >
        stuPwd,
      </if>
      <if test="stuemail != null" >
        stuEmail,
      </if>
      <if test="stucardid != null" >
        stuCardId,
      </if>
      <if test="stuphone != null" >
        stuPhone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuid != null" >
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="stuname != null" >
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null" >
        #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stuemail != null" >
        #{stuemail,jdbcType=VARCHAR},
      </if>
      <if test="stucardid != null" >
        #{stucardid,jdbcType=VARCHAR},
      </if>
      <if test="stuphone != null" >
        #{stuphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.Student" >
    update t_student
    <set >
      <if test="stuname != null" >
        stuName = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null" >
        stuPwd = #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stuemail != null" >
        stuEmail = #{stuemail,jdbcType=VARCHAR},
      </if>
      <if test="stucardid != null" >
        stuCardId = #{stucardid,jdbcType=VARCHAR},
      </if>
      <if test="stuphone != null" >
        stuPhone = #{stuphone,jdbcType=VARCHAR},
      </if>
    </set>
    where stuId = #{stuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.domain.Student" >
    update t_student
    set stuName = #{stuname,jdbcType=VARCHAR},
      stuPwd = #{stupwd,jdbcType=VARCHAR},
      stuEmail = #{stuemail,jdbcType=VARCHAR},
      stuCardId = #{stucardid,jdbcType=VARCHAR},
      stuPhone = #{stuphone,jdbcType=VARCHAR}
    where stuId = #{stuid,jdbcType=INTEGER}
  </update>
</mapper>