<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
 <servlet-name>judge</servlet-name>
 <servlet-class>cn.bdqn.web.servlet.JudgeServlet
 </servlet-class>
 </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.bdqn.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>cn.bdqn.web.servlet.ExamServlet</servlet-class>
  </servlet>
  
  	


 <servlet-mapping>
 <servlet-name>judge</servlet-name>
 <url-pattern>/judge</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/exam</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserJsonServlet</display-name>
    <servlet-name>UserJsonServlet</servlet-name>
    <servlet-class>cn.bdqn.web.servlet.UserJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserJsonServlet</servlet-name>
    <url-pattern>/UserJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelImportServlet</display-name>
    <servlet-name>ExcelImportServlet</servlet-name>
    <servlet-class>cn.bdqn.web.servlet.ExcelImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelImportServlet</servlet-name>
    <url-pattern>/ExcelImportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelExportServlet</display-name>
    <servlet-name>ExcelExportServlet</servlet-name>
    <servlet-class>cn.bdqn.web.servlet.ExcelExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelExportServlet</servlet-name>
    <url-pattern>/ExcelExportServlet</url-pattern>
  </servlet-mapping>
</web-app>
