*{
	margin: 0px;
	padding: 0px;
	color: #808080;
}
section{
	margin-top: 100px;
	background: white;
}
section:after{
	content:'';
	display:block;
	clear:both;
}
._div{
	float: left;
	background: white;
	margin-left: 25%;
}
._div:after{
	content:'';
	display:block;
	clear:both;
}
.text{
	display: block;
	font-size: 30px;
	color: gray;
	text-align: center;
	margin-bottom: 20px;
}
ul{
	padding-left: 50px;
	padding-right: 50px;
	list-style: none;
}
ul li{
	margin: 10px;
}
.right{
}
.left{
	text-indent: 0.5em;
}
.issueType{
	height: 30px;
	width: 280px;
	border: 1px solid gainsboro;
	border-radius: 4px 4px;
}

.score{
	border: 1px solid gainsboro;
	width: 40px;
	height: 20px;
}
.issueText{
	border: 1px solid gainsboro;
	display: block;
	width: 400px;
}
.A,.B,.C,.D{
	display: inline-block;
}
.answerA,.answerB,.answerC,.answerD{
	border-radius: 4px 4px;
	border: 1px solid gainsboro;
	display: inline-block;
	width: 300px;
	height: 30px;

}
.bianZhun{
	text-indent: 0.5em;
	display: inline-block;
}
.answer{
	border-radius: 4px 4px;
	height: 30px;
	display: inline-block;
	border: 1px solid gainsboro;
}

.submit{
	float: left;
	padding: 7px 15px 7px 15px;
	border: none;
	background: #2626FF;
	color: white;
	border-radius: 4px 4px;
}
.btn{
	float: right;
	border: none;
	padding: 7px 15px 7px 15px;
	background: #2626FF;
	border-radius: 4px 4px;
	color: white;
}
