

*{
	padding: 0px;
	margin: 0px;
}
ul{
	list-style: none;
	width: 80%;

}
.index{
	color: #000000;
	font-size:23px ;
	display: inline-block;
}
.issueText{
	color: #000000;
	font-size:23px ;
	display: inline-block;
}
li{
	margin-left: 70px;
	padding: 10px;
}
.li{
	margin-left: 90px;
}
.zhu{
	margin-top:5%;
	padding-left:100px;
	background:white;
}

.table a{
	text-decoration: none;
	color: black;
}

.table span{
	display: inline-block;
	width: 60px;
	height: 30px;
	border: 1px solid gray;
	margin: 1px;
}
/*表格*/
.table{
	position:fixed;
	left:80%;
	width: 300px;
	float: right;
	text-align: center;
	margin-top: 80px;
}

.table a{
	text-decoration: none;
	color: black;
	font-size: 24px;
}
.registration{
	width: 100%;
	background-color:rgba(249,249,249,1) ;
	height: 100px;
	background-color:#6AA6AE;
}
.logo{
	font-size: 50px;
	line-height: 100px;
	font-style: oblique;
	color:whitesmoke;
	margin-left: 50px;
}
.name{
	color: black;
	float: right;
	font-size: 20px;
	margin-right: 100px;
}
._name{
	color: black;
	float: right;
	font-size: 20px;
}
#btnCommit{
	position:fixed;
	padding: 7px 15px 7px 15px;
	border: none;
	background: #0080FF;
	color: white;
	border-radius: 4px 4px;
	top:50%;
	right: 6%;
}
#btnCommit:HOVER{
	background: #0000FF;
}
.btn:HOVER{
	background: #0000FF;
}
.btn{
	position:fixed;
	border: none;
	padding: 7px 15px 7px 15px;
	background: #0080FF;
	border-radius: 4px 4px;
	color: white;
	top:50%;
	right: 1.5%;
}
.timer{
	position:fixed;
	top: 19%;
	right: 1%;
	font-size: 30px;
	color: red;
}
h1{
	margin-left: 35%;
	margin-top: 3%;
}
.tele{
	margin-left:26%;
	margin-top: 3%;
}