*{
	margin: 0px;
	padding: 0px;
}
.shouye:HOVER{
	background: #C0C0C0;
	border-radius: 3px 3px;
}
.tiKu:HOVER{
	background: #C0C0C0;
	border-radius: 3px 3px;
}
.selectStudentScore:HOVER{
	background: #C0C0C0;
	border-radius: 3px 3px;
}
.kaoShi:HOVER{
	background: #C0C0C0;
	border-radius: 3px 3px;
}
.exit:HOVER{
	background: #C0C0C0;
	border-radius: 3px 3px;
}
.registration{
	 	width: 100%;
	 	height: 100px;
	 	background-color:#6AA6AE;
}
.logo{
   		font-size: 50px;
   		line-height: 100px;
   		font-style: oblique;
   		color:whitesmoke;
   		margin-left: 50px;
}

.name{
		color: black;
		float: right;
		font-size: 20px;
		margin-right: 100px;
}
._name{
		color: black;
		float: right;
		font-size: 20px;
}
.header{
	border: 1px gainsboro solid;
}
.header:after{
		content: '';
		display: block;
		clear: both;
}
.label{
		float: left;
		list-style: none;
		background-color: #F5F6F5;
		width: 100%;
		height: 45px;
}
.label li {
		padding: 10px;
		display: inline-block;
		margin-right: 30px;
}
.shouye{
		color: gray;
		font-weight: 800px;
		font-family: "Î¢ÈíÑÅºÚ";
}
.label li a{
		text-decoration: none;
		color: gray;
}
.label li:first-child{
		font-size: 20px;
		margin-left: 2%;
}

.content{
	height: 480px;
}
h2{
	font-family: "Î¢ÈíÑÅºÚ";
	font-weight:initial;
	text-align: center;
	margin-top: 3%;
}
.one{
	border: gainsboro 1px solid;
	float: left;
	width: 400px;
	height: 200px;
	margin-left: 23%;
	margin-top: 3%;
}
.one span{
	display: block;
}
.one span:first-child{
	text-align: center;
	color: #666666;
	font-weight: bold;
	margin: 30PX;
}
.one span:nth-child(2){
	text-align: center;
	color: #597180;
}
.one a{
	text-decoration: none;
	display: block;
	width: 180px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 28%;
	margin-top: 10%;
	background-color: #00C356;
	color: white;
	font-size: 14px;
	border-radius: 3px;
}
.two{
	border:gainsboro 1px solid ;
	float: left;
	width: 400px;
	height: 200px;
	margin-left: 37%;
	margin-top: 2%;
}
.two span{
	display: block;
}
.two span:first-child{
	text-align: center;
	color: #666666;
	font-weight: bold;
	margin: 30PX;
}
.two span:nth-child(2){
	text-align: center;
	color: #597180;
}
.two a{
	text-decoration: none;
	display: block;
	width: 180px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 28%;
	margin-top: 10%;
	background-color: #00C356;
	color: white;
	font-size: 14px;
	border-radius: 3px;
}
.san{
	border:gainsboro 1px solid ;
	float: left;
	width: 400px;
	height: 200px;
	margin-left: 1.5%;
	margin-top: 3%;
}
.san span{
	display: block;
}
.san span:first-child{
	text-align: center;
	color: #666666;
	font-weight: bold;
	margin: 30PX;
}
.san span:nth-child(2){
	text-align: center;
	color: #597180;
}
.san a{
	text-decoration: none;
	display: block;
	width: 180px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 28%;
	margin-top: 10%;
	background-color: #00C356;
	color: white;
	font-size: 14px;
	border-radius: 3px;
}

footer{
	text-align: center;
	color: lightgray;
}
.score{
	text-align:center;
	height: 500px;
}
.labelname{
	font-size: 30px;
	font-family: "ËÎÌå";
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}
.login-submit2{
	background-color:#0C5DC4;
	padding: 2px 10px;
	border: none;
	text-align: center;
	color: white;
	border-radius: 5px;
}

.bady{
	overflow-x: hidden;
}

.pic{
			width: 120px;
			height: 180px;
			margin: 150px auto 0;
			position: relative;
			/*transform Ðý×ªÔªËØ*/
			transform-style:preserve-3d;
			transform:perspective(800px) rotateX(-10deg) rotateY(0deg);
		}

		.pic img{
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			box-shadow: 0px 0px 10px #fff;
			/*µ¹Ó°µÄÉèÖÃ*/
			-webkit-box-reflect:below 10px -webkit-linear-gradient(top,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%);
		}
		.pic p{
			width: 1200px;
			height: 1200px;
			background: -webkit-radial-gradient(center center,600px 600px,rgba(255,255,255,.5),rgba(0,0,0,0));
			position: absolute;
			top:100%;left:50%;
			margin-top: -600px;
			margin-left: -600px;
			border-radius:600px;
			transform:rotateX(90deg);
		}
		
		
.tidy ul{
	list-style: none;
	float: right;
	margin-top: 50px;
	margin-right: 48%;
}
.tidy:after{
	content:'';
	display:block;
	clear:both;
}
#shiJuan{
	display: block;
	margin-left: 46%;
	margin-top: 4%;
	font-size: 25px;
}
.tidy form{
	float: left;
	margin-left: 43%;
	margin-top: 3%;
}
.wenBen{
	display: inline-block;
	height: 27px;
}
.submit{
	padding: 7px 15px 7px 15px;	
	border: none;
	background: #2626FF;
	color: white;
	border-radius: 4px 4px;
}
.ul li{
	border: 1px solid gainsboro;
	padding: 5px;
}
.ul li a{
	text-decoration: none;
	
}
.ul li a:hover{
	color: cornflowerblue;
}


#table{
	float: left;
	margin-top: 3%;
	margin-left: 30%;
}
#table li{
	display: inline-block;
	border: 1px solid gray; 
	padding: 5px;
	width: 200px;
}
.kaoSheng{
	float: left;
	font-size: 30px;
	margin-left: 42%;
	margin-top: 5%;
}
.nameStu{
	float: left;
	font-size: 30px;
	color: red;
	margin-top: 5%;
}

.shiJuanSpan{
	float: right;
	margin-right: 41%;	
}
		